html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: block;
    direction: rtl;
}

p {
    margin: 0;
}
  
.input-group.mb-3 *, ul.list-group {
    border-radius: 0 !important;
}

button, input, li {
    color: #6c757d !important;
    border-color: #6c757d !important;
    background: transparent !important;
}

button:hover, li:hover {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

button:focus, input:focus, li:focus {
    box-shadow: none !important;
}

button:not(:disabled):not(.disabled), li:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.list-group {
    padding: 0;
}