
:host {
    width: 100vw;
    height: 100vh;
    display: block;
    align-content: center;
}
  
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 576px) {
  form {
    margin: 10px;
    padding: 15px;
  }
}
  