// Primary Colors
$main-color: #202A54;
$golden-gradient-start: #F2DE77;
$golden-gradient-middle: #A65C1C;
$golden-gradient-end: #BF9341;

// Neutral Colors
$white: #FFFFFF;
$light-gray: #F7F7F7;
$gray: #CCCCCC;
$dark-gray: #767676;
$black: #000000;

// Gradients
$golden-gradient: linear-gradient(to bottom, $golden-gradient-start, $golden-gradient-middle, $golden-gradient-end);
$golden-gradient-left: linear-gradient(to left, $golden-gradient-start, $golden-gradient-middle, $golden-gradient-end);
$main-to-gold-gradient: linear-gradient(to bottom, $main-color, $golden-gradient-middle);

// Shadows
$box-shadow-light: 0 4px 6px rgba($black, 0.1);
$box-shadow-dark: 0 4px 6px rgba($black, 0.2);

// Typography
$text-color: $golden-gradient-middle;
$text-color-light: $light-gray;
$text-color-highlight: $golden-gradient-start;

// Border
$border-color: $gray;
$border-color-highlight: $golden-gradient-middle;

/* Custom Scrollbar Theme */
::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
    background: transparent;
}
  
::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: $golden-gradient; 
  border: 1.5px solid $light-gray;
}

::-webkit-scrollbar-thumb:hover {
    background: $golden-gradient; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}
  
// Usage Example
body {
  background-color: $main-color;
  color: $text-color;
  scrollbar-width: thin;
  scrollbar-color: $golden-gradient $light-gray;
}

html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: block;
    direction: rtl;
}

p {
    margin: 0;
}
  
.input-group.mb-3 *, ul.list-group {
    border-radius: 0 !important;
}

button, input, li {
    color: $gray !important;
    border-color: $border-color !important;
    background: transparent !important;
}

li {
    cursor: pointer;
}

input::placeholder {
    color: $dark-gray !important;
}

button:hover, li:hover {
    color: $gray !important;
    background: $golden-gradient-left !important;
    border-color: $border-color !important;
}

button:focus, input:focus, li:focus {
    box-shadow: none !important;
}

.list-group {
    padding: 0;
}

input[type="checkbox"] {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid $light-gray;
    width: 16px;
    height: 16px;
    appearance: none;
}
  
input[type="checkbox"]:checked {
    background-color: $golden-gradient-middle  !important;
}

polygon {
  pointer-events: all;
  cursor: pointer;
  stroke-opacity: 0.5;
  stroke-width: 0.3;
  fill-opacity: 0.3;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0;
  }
}

.logo {
    animation: flipAnimation 10s infinite linear;
}

@keyframes flipAnimation {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  80% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  90% {
      transform: rotateX(0) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

@keyframes lightSlide {
    95% {
      background: linear-gradient(120deg, transparent 0%, rgba(255, 255, 255, 0.8) 50%, transparent 100%);
      background-position: -200%;
    }
    100% {
      background: linear-gradient(120deg, transparent 0%, rgba(255, 255, 255, 0.8) 50%, transparent 100%);
      background-position: 200%;
    }
}

@keyframes lightSlide {
    95% {
      transform: translateX(-150%);
      opacity: 0.1;
    }
    97.5% {
      opacity: 0.5;
    }
    100% {
      transform: translateX(150%);
      opacity: 0;
    }
  }
  
  .light-effect {
    position: relative;
    display: inline-block;
    background: #555; /* Base color for the object */
    color: white;
    font-size: 24px;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .light-effect::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.2);
    transform: translateX(-150%);
    animation: lightSlide 15s linear infinite;
    pointer-events: none;
  }
  

  .click-through {
    pointer-events: none !important;
  }