:host {
  display: block;
  height: 100vh;
}

::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/image/background/background001.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

.app-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(#014034, 1);
  z-index: -1;
}

.container {
  z-index: 1;
  text-align: center;
  color: white;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}
