.image-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
  
.map-image {
  width: fit-content;
  height: fit-content;
  max-width: 2000px;
  user-select: none;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.2s ease; 
}

.points-dashboard {
  width: 100%;
  height: 100%;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.side-bar {
  position: absolute; 
  background: #014034;
  left: 0; 
  top: 0; 
}

.point {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  left: 40%;
  top: 80%;
  background: #014034;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-content: center;
  opacity: 0.9;
  zoom: 0.8;
  pointer-events: all;

  &.isProject {
    background: white;
    zoom: 1.3;
    width: 40px;
    height: 40px;
    border-radius: 0;
    padding: 5px;

    img {
      width: 100%;
    }

    i {
      color: #014034;
    }
  }

  i {
    font-size: 1.5rem;
    color: white;
    pointer-events: none;
  }
}

.point:hover {
  opacity: 1;
  zoom: 0.9;

  &.isProject {
    zoom: 1.4;
  }
}

.scroll-container {
  height: 100%;
  width: auto;
  aspect-ratio: 3;
  overflow: scroll;
}

.map-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  pointer-events: none;
}