@use "../../../assets/theme/theme.scss" as theme;

.image-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background: theme.$main-color;
}

.map-image {
  width: fit-content;
  height: fit-content;
  max-width: 2000px;
  user-select: none;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.2s ease;
  position: relative;
  z-index: -2;
}

.points-dashboard {
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.side-bar {
  position: absolute;
  background: #202a54;
  left: 0;
  top: 0;

  li {
    border-width: 0 0 1px 0 !important;
  }
}

.point {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  left: 40%;
  top: 80%;
  background: theme.$golden-gradient-left;
  width: 25px;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 50%;
  align-content: center;
  opacity: 0.9;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  &.isProject {
    background: White;
    width: 50px;
    border-radius: 0;
    padding: 5px;

    img {
      width: 100%;
    }

    i {
      color: #202a54;
    }
  }

  &.isMega {
    background: #00000081;
    width: 50px;
    padding: 9px;
  }

  &.selected-effect {
    border: theme.$main-color 2px double;
  }

  i {
    font-size: 0.8rem;
    color: white;
    pointer-events: none;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    filter: grayscale(100%) contrast(150%);
  }
}

.point:hover {
  opacity: 1;
  width: 30px;

  &.isProject {
    width: 45px;
  }

  &.isMega {
    width: 45px;
  }
}

.scroll-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.map-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  pointer-events: none;
}

.path-svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pointer {
  cursor: pointer !important;
}

.nonVisible {
  display: none;
}

.filters {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #202a54;
  padding: 20px 0;
  width: fit-content;
  max-height: 80%;
  overflow: auto;

  ul {
    li {
      border: none;
      width: 100%;
      text-align: right;
      cursor: default;
      padding: 0;

      label {
        cursor: pointer;
        width: 100%;
        padding: 8px 16px 8px 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }
  }

  img {
    max-width: 200px;
  }
}

.animated-path {
  stroke-dasharray: 9999; /* Adjust based on path length */
  stroke-dashoffset: 9999; /* Start offset matches dasharray */
  animation: draw 3s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0; /* Fully drawn */
  }
}

// ====================================
//* Menu
// ====================================
// * Buttons
.menu {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: fit-content;
  z-index: 1000;
  p {
    background-color: #484558;
    color: #e8e4de;
    padding: 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    img {
      width: 20px;
    }
    &.active {
      background-color: #e8e4de;
      color: #484558;
    }
  }
}
// * Dropdown
.dropdown {
  position: fixed;
  bottom: 100px;
  left: 100px;
  width: fit-content;
  z-index: 1000;
  background-color: #373544;
  border-radius: 20px;
  padding: 20px;
  .items {
    .item {
      background: #484558;
      color: #e8e4de;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: #52505a;
      }
      p {
        font-size: 14px;
      }
      img {
        width: 20px;
      }
    }
  }
  .media {
    display: flex;
    align-items: center;
    gap: 15px;
    .box {
      position: relative;
      background-color: #484558;
      width: 44px;
      height: 44px;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: #52505a;
      }
      img {
        width: 100%;
      }
    }
  }
}
// ====================================
//* Contact us
// ====================================
.contact-btn {
  position: fixed;
  bottom: 80px;
  left: 20px;
  background-color: #e8e4de !important;
  border: none;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  img {
    width: 25px;
  }
}
// * Popup
.contact-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  .contact-popup {
    background-color: #373544;
    padding: 35px;
    width: 583px;
    border-radius: 20px;
    .header {
      color: #eee;
      border-radius: 20px;
      margin-bottom: 25px;
      position: relative;
      img {
        width: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        cursor: pointer;
      }
    }
    form {
      .two-inputs-field {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
        .input-filed {
          margin-bottom: 24px;
          label {
            display: block;
            margin-bottom: 5px;
            color: #8d96a4;
            text-align: start;
          }
          input {
            width: 100%;
            color: #eeeeee;
            padding: 8px 14px;
            border-radius: 8px;
            border: 1px solid #908ca0 !important;
            outline: none;
          }
        }
      }
      .popup-btn {
        button {
          background-color: #5b5a70 !important;
          padding: 15px 50px;
          border: none;
          border-radius: 10px;
          color: #908ca0;
          cursor: pointer;
        }
      }
    }
  }
}
// ====================================
//* Filters
// ====================================
.filter-btns {
  position: fixed;
  top: 20px;
  left: 80px;
  .box {
    display: flex;
    align-items: center;
    gap: 1px;
    padding: 3px;
    border-radius: 10px;
    background-color: #373544;
    flex-direction: row-reverse;
    .item {
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      gap: 10px;
      background-color: transparent;
      padding: 12px 16px;
      border-radius: 5px;
      color: #5b5a70;
      font-size: 12px;
      transition: all 0.35s ease-in-out;
      &.active,
      &:hover {
        color: #eee;
        background-color: #43414e;
        img {
          background-color: #eee;
        }
      }
      img {
        width: 15px;
        background-color: #43414e;
        border-radius: 50%;
        padding: 2px;
        transition: all 0.35s ease-in-out;

        p {
        }
      }
    }
  }
}
