<div class="image-container" *ngIf="project?.mapImage">

  <app-preload *ngIf="project?.mapImage && showPreloader"></app-preload>

  <div class="scroll-container" #scrollContainer>
    <div class="map-container">
      <!-- Map Image -->
      <img 
        [src]="project?.mapImage" 
        [alt]="project?.name" 
        (load)="onImageLoad()"
        (error)="onImageError()"
        class="map-image"/>
  
      <!-- Points overlay -->
       <div class="points-dashboard">
        <div 
          *ngFor="let point of project?.points" 
          [style.left.%]="point.position.x" 
          [style.top.%]="point.position.y" 
          class="point"
          [ngClass]="{'isProject': point.isProject}"
          (click)="onPointClick(point)">
          <i *ngIf="!point.isProject" [class]="getPointClass(point.type)" [id]="point.id"></i>
          <img *ngIf="point.isProject" [src]="point.logo" alt="Project Logo">
        </div>
      </div>

      <!-- SVG for paths -->
      <svg *ngIf="selectedPath" class="path-svg">
        <path *ngFor="let path of selectedPath"
              [attr.d]="path.d"
              fill="none"
              stroke="blue"
              stroke-width="2"/>
      </svg>

    </div>
  </div>

  <!-- Sidebar -->
  <ul class="list-group side-bar">
    <li class="list-group-item" (click)="clearData()">
      <i class="fa-solid fa-circle-chevron-left"></i>
    </li>
  </ul>
</div>
