@use '../../../assets/theme/theme.scss' as theme;

.image-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background: theme.$main-color;
}
  
.map-image {
  width: fit-content;
  height: fit-content;
  max-width: 2000px;
  user-select: none;
  object-fit: cover;
  transform-origin: center center;
  transition: transform 0.2s ease; 
  position: relative;
  z-index: -2;
}

.points-dashboard {
  min-width: 100%;
  min-height: 100%;
  display: block;
  position: relative;
}

.image-container::-webkit-scrollbar {
  display: none;
}

.side-bar {
  position: absolute; 
  background: #202A54;
  left: 0; 
  top: 0; 
  
  li {
    border-width: 0 0 1px 0 !important;
  }
}

.point {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  left: 40%;
  top: 80%;
  background: theme.$golden-gradient-left;
  width: 25px;
  height: auto;
  aspect-ratio: 1;
  object-fit: contain;
  border-radius: 50%;
  align-content: center;
  opacity: 0.9;
  pointer-events: all;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  &.isProject {
    background: White;
    width: 50px;
    border-radius: 0;
    padding: 5px;

    img {
      width: 100%;
    }

    i {
      color: #202A54;
    }
  }

  &.isMega {
    background: #00000081;
    width: 50px;
    padding: 9px;
  }

  &.selected-effect {
    border: theme.$main-color 2px double;
  }

  i {
    font-size: 0.8rem;
    color: white;
    pointer-events: none;
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    filter: grayscale(100%) contrast(150%);
  }
}

.point:hover {
  opacity: 1;
  width: 30px;

  &.isProject {
    width: 45px;
  }

  &.isMega {
    width: 45px;
  }
}

.scroll-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.map-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  min-width: fit-content;
  min-height: fit-content;
  pointer-events: none;
}

.path-svg {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.pointer {
  cursor: pointer !important;
}

.nonVisible {
  display: none;
}

.filters {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #202A54;
  padding: 20px 0;
  width: fit-content;
  
  ul {
    li {
      border: none;
      width: 100%;
      text-align: right;
      cursor: default;
      padding: 0;

      label {
        cursor: pointer;
        width: 100%;
        padding: 8px 16px 8px 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.animated-path {
  stroke-dasharray: 999; /* Adjust based on path length */
  stroke-dashoffset: 999; /* Start offset matches dasharray */
  animation: draw 2s linear forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0; /* Fully drawn */
  }
}
