@use '../../assets/theme/theme.scss' as theme;

:host {
  width: 100vw;
  height: 100vh;
  display: block;
  align-content: center;
}

.dashboard {
  width: 80vw;
  height: 80vh;
  margin: auto;
  align-content: center;
}
  
::ng-deep .tabs-dark-theme .mdc-tab__text-label {
  color: white !important;
  font-family: "Noto Sans Arabic", sans-serif; 
  font-optical-sizing: auto; 
  font-style: normal;
}

::ng-deep .tabs-dark-theme .mdc-tab--active .mdc-tab__text-label {
  color: theme.$golden-gradient-start !important;
}

::ng-deep .mat-mdc-tab-group {
  height: 100% !important;
  background-color: theme.$main-color;
}
