:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
  
.container {
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;

  &.search-container {
    max-width: 500px;
  }
}
