<ion-content>
  <div class="container d-flex flex-column"  *ngIf="!selectedProject">

    <div class="input-group mb-3">
      <button class="btn btn-outline-secondary" type="button" (input)="onSearchChange()">تفريغ</button>
      <button class="btn btn-outline-secondary" type="button" (input)="backToSearch()">بحث</button>

      <input type="text" [(ngModel)]="searchTerm" (input)="onSearchChange()" class="form-control" placeholder="اسم او رقم المشروع" aria-label="Project Name or ID" aria-describedby="basic-addon1">
    </div>
    
    <div>
      <ul *ngIf="filteredProjects.length" class="list-group">
        <li *ngFor="let project of filteredProjects" (click)="selectProject(project)" class="list-group-item">
          {{ project.name }}
        </li>
      </ul>
    </div>
  </div>

  <ion-card *ngIf="selectedProject">
    <app-projects-dashboard *ngIf="selectedProject.id" [data]="selectedProject" (dataCleared)="backToSearch()"></app-projects-dashboard>
  </ion-card>
</ion-content>
