:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
  
.container {
  display: flex;
  flex: 1;
  overflow: hidden;

  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

ion-searchbar {
  width: 100%;
  margin: 10px 0;
}
